# Ignore all temporary files
*.~

# Ignore all log files
*.log

# Ignore compiled documents
*.pdf
*.aux
*.bbl
*.blg
*.toc
*.out
*.bcf
*.fdb_latexmk
*.fls
*.lof
*.run.xml
*.synctex.gz
*.bbl-SAVE-ERROR

# Ignore TeXstudio specific files
*.asy

# Ignore VS Code specific files
.vscode/
